* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
}

body {
    background-image: url(./images/garden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form input {
    color: white;
}

.message-box {
    width: auto;
  height: 160px;
  resize: none;
}
button {
    color: gray;
}
